<%- include('../partials/header'); %>
<body style="background-color: #D616DE;">
    <div id="pageHeader" class="container text-center">
        <h1 style="margin: 1%;">Music</h1>
        <h2>Original Compositions</h2>
    </div>
    <div class="d-flex flex-wrap justify-content-center">
        <% var title %>
        <% var fileName %>
        <% for(var i = 0; i < numFiles; i++) { %>
            <% fileName = fileNames[i];%>
            <% year = years[i] %>
            <% title = fileName.slice(0,-4).replace(/([A-Z])/g, ' $1'); %>
            <div class = "song-card" style="background-image: url(/content/music/cover/<%= fileName.replace('.mp3','.jpg')%>);">
                <div style="background-color: black; opacity: 0.8; color: white; font-size: 14pt; position: absolute; top: 10px; left: 10px; padding: 5px">
                    <%= title %>
                </div>
                <div style="background-color: black; opacity: 0.8; color: white; font-size: 8pt; position: absolute; top: 60px; left: 10px; padding: 5px;">
                    <%= year %>
                </div>
                <div class="audio-block">
                    <audio controls style="width: 100%;">
                        <source src="/content/music/<%= fileName %>" type="audio/mpeg">
                    </audio>
                </div>
            </div> 
        <% } %>
    </div>
    <%- include('../partials/footer'); %>